<% @families = Desmoservice::Families.download(desmoservice_conf, selection_idctxt: selection_idctxt, fields: 'idctxt,iddesc,libelles,attrs,famille-color') %>
<% @title="Liste des dossiers" %>
<% @with_form_js=false %>

<div class="row">
<div class="col-md-12">

<%
@ventilation_params = {
  name: 'ventilation:grille:simple',
  fields: 'libelles,iddesc,attrs,famille-color',
  ignore_empty: false,
  famille_filter: "dossier"
}
@done = {}
@families.each do |family| 
  @current_famille_id = family.id
  family.children.each do |subfamily|
    @current_subfamily_id = subfamily.id
    subfamily.descripteurs.each do |descripteur|
      @ventilation_params[:root_code] = descripteur.id
      ventilation = Desmoservice::Ventilation.download(desmoservice_conf, @ventilation_params)
    %><p><%= ventilation.url%></p><%
    end
  end

end%>


</div>
</div>
