<% @familles = Desmoservice::Familles.download(desmoservice_conf, selection_idctxt: selection_idctxt, fields: 'idctxt,iddesc,libelles,attrs,famille-color') %>
<% @title="Liste des dossiers" %>
<% @with_form_js=false %>

<div class="row">
<div class="col-md-12">

<%
@ventilation_params = {
  name: 'ventilation:grille:simple',
  fields: 'libelles,iddesc,attrs,famille-color',
  ignore_empty: false,
  famille_filter: "dossier"
}
@done = {}
@familles.each do |famille| 
  @current_famille_code = famille.code
  famille.children.each do |sousfamille|
    @current_sousfamille_code = sousfamille.code
    sousfamille.descripteurs.each do |descripteur|
      @ventilation_params[:root_code] = descripteur.code
      ventilation = Desmoservice::Ventilation.download(desmoservice_conf, @ventilation_params)
    %><p><%= ventilation.url%></p><%
    end
  end

end%>


</div>
</div>
