<% @families = Desmoservice::Families.download(desmoservice_conf, selection_idctxt: selection_idctxt, fields: 'idctxt,iddesc,libelles,attrs,famille-color') %>
<% @title="Liste des niveaux 1" %>
<% @with_form_js=false %>

<div class="row">
<div class="col-md-12">

<% @families.each do |family| %>
  <h2><%= text_with_key(family) %></h2>
  <% family.subfamilies.each do |subfamily| %>
    <h3><%= text_with_key(subfamily) %></h3>
    <ul class="ListeDescripteursPrincipaux">
      <% subfamily.members.each do |member| %>
        <li>
          <p>
            <%= span_color(member)%>
            <small>(<a href="?page=form_niveau1&amp;code=<%= member.key%>">Regroupement Niveaux 2</a>)</small>
          </p>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>

</div>
</div>
