<%
@title="Transfert de liens"
%>

<h1>Transfert de liens entre deux descripteurs</h1>
<form action="" method="Get">
<input type="hidden" name="page" value="form_transfert">
<table style="margin-top: 20px;margin-bottom: 10px">
<tr>
<td>Code du descripteur d'origine :&nbsp;</td>
<td><input type="text" size="10" name="originkey"></td>
</tr>
<tr>
<td>Code du descripteur de destination :&nbsp;</td>
<td><input type="text" size="10" name="destinationkey"/></td>
</tr>
</table>
<p><input type="submit" value="Accéder au formulaire de transfert"></p>
</form>