<%
@title="Liste des niveaux 1"
@with_form_js=false
@get_params = Desmoservice::GetParams.new()
@get_params.family_filter = family_filter
@families = Desmoservice::Get.families(desmoservice_conf, @get_params)
%>

<div class="row">
<div class="col-md-12">

<% @families.each do |family| %>
  <h2><%= text_with_key(family) %></h2>
  <% family.subfamilies.each do |subfamily| %>
    <h3><%= text_with_key(subfamily) %></h3>
    <ul class="ListeDescripteursPrincipaux">
      <% subfamily.members.each do |member| %>
        <li>
          <p>
            <%= span_color(member)%>
            <small>(<a href="?page=form_niveau1&amp;id=<%= member.id%>">Regroupement Niveaux 2</a>)</small>
          </p>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>

</div>
</div>
