<!DOCTYPE html>
<html lang="fr">
<head>
<title><%= @title || "Page Inconnue"%></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="http://malsup.github.com/jquery.form.js"></script> 
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="../static/css/main.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="../static/js/modal.js"></script>
<% if @with_form_js %>
<script type="text/javascript" src="../static/js/form.js"></script>
<% end %>
</head>
<body>
<div class="container">
    <%= yield  %>
</div>
<div class="modal" id="commonModal">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>
<% if not debug_log_handler.nil? %>
  <pre><%= debug_log_handler.destination %></pre>
<% end %>
</body>
</html>