

h1 {
 margin-left: 20px;
 font-size: 25px;
}

h2 {
 font-size: 20px;   
}

h3 {
 font-size: 16px;
 font-style: italic;
}


div.soussecteur {
    padding-left: 50px;
}

p.Lien_Dsmd {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}

span.Total_Zero {
    color: gray;   
}

span.Total_Positif {
    color: green;
}


p.CreationTitre {
 margin-top : 30px;
 border-top-width: 1px;
 border-top-style: solid;
 border-top-color: #E7E7E7;
}

ul.ListeDescripteursPrincipaux {
 margin-top: 30px;   
}


p.Submit  {
 text-align: center;
 margin-top: 20px;
 padding: 10px;
 border-top-width: 1px;
 border-top-style: solid;
 border-top-color: #171717;
 border-bottom-width: 1px;
 border-bottom-style: solid;
 border-bottom-color: #171717;
}

textarea {
    vertical-align: top;
}

div.BlocSecteur {
 margin-top: 35px;   
}

li.Descripteur {
    margin-top: 12px;
}

p.Descripteur_Lib {
    margin-bottom: 4px;
    line-height: 1.4em;
}

.Lien_Modification, .Lien_Plus {
 margin-top: 0;
 margin-left: 20px;
  
}

.ModifEncours {
 text-decoration: line-through; 
}

li.Plus {
 list-style: none;
  margin-top: 12px;
}

dt {
    margin-top: 25px;
    margin-bottom: 10px;
}

dd {
    margin-left: 20px;
}

.Origine {
 color: #aaa;   
}

div.Sousformulaire {
    margin-left: 20px;
}

p.Erreur_Reaffectation {
 color: #f00;   
}

p.Erreur_Famille  {
    color: #f00;  
}

div.Sousformulaire label {
    font-weight: normal;
}

a.Dossier {
 color: #CC3300;
 
}

table.transfert-Table td, th {
    width: 50%;
    vertical-align: top;
}

table.transfert-Table th {
    padding-bottom: 15px;
}

h2.transfert-Secteur {
    padding-bottom: 20px;
    text-align: center
}
    

div.transfert-ListeDescripteurs {
 padding-right: 20px;
 border-left-width: 1px;
 border-left-style: solid;
 padding-left: 5px;
}

p.Descripteur_Lib label {
    font-weight: normal;
}

.public-DescripteurBloc {
 margin-top: 10px;
 margin-bottom: 5px;
}

.public-DescripteurBloc span {
    display: inline-block;
    padding: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

a.public-DescripteurLink, a.public-DescripteurLink:visited {
    color: #333;
}

a > div.public-DescripteurBloc span {
    border-color: #337AB7;
}

a:hover > div.public-DescripteurBloc span {
    border-color: red;
}

.public-Root {
    font-size: 1.2em;
    text-align: center;
}

.public-ListeNiveau2 {
    font-size: 0.9em;
    margin-left: 35px;
    margin-bottom: 20px;
}

.public-Secteur {
 margin-top: 35px;
 margin-bottom: 15px;

}